<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Practica2compi1</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/resourses/WisonIcon.png">
  <%- include ('plantillas/heads.html')%>  
</head>

<body style="background-color: darkslategrey;">
  <%- include ('plantillas/nav.html')%>
  <div class="container">
    <form action="/prosessWison" method="POST">
      <div class="mb-3">
        <label class="form-label" style="color: white;font-size: larger;"></label>
        <textarea id="textWison" name="textWison" class="form-control" rows="15"> <%=textWison%></textarea>
      </div>
      <button type="submit" class="btn" id="buttonSubmit">Generar Analizador</button>
    </form>
    <br>

    <div class="container">
      <% errores.forEach(function(err){ %>
        <div class="container">
          <div class="alert alert-danger" role="alert">
            <%= err %>
          </div>
        </div>
        <br>
      <% }); %>
    </div>

  </div>
  <br>
  <%-include ('plantillas/footer.html')%>  
</body>

</html>